


/* responsive fino a 768  */
@media screen and (min-width:768px)
{.demo-col:first-child{width:66%;}
.demo-col{width:calc(100% / 3 - 50px);}
.demo-cont{justify-content: space-between;}}




/* responsive fino a 1200px  */
@media screen and (min-width:1200px)
{.benefits-col{width:calc(100% / 3)}