* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

* {
    border: 1px dotted red;
}


/* utils */
.mb20 {
    margin-bottom: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.border-radius-20 {
    border-radius: 20px;
}



body {
    max-width: 480px;
}

header {
    min-height: 60px;
    background-color: #0084FD;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;

}

/* sezione demo */
.demo-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.demo-card {
    width: 90%;
    min-height: 300px;
    background-color: #B5DDFF;
    margin-top: 50px;
    border-radius: 20px;
}

/* sezione strategic planning con sfondo viola */

.planning-col {
    background-color: #9792E4;
    height: 800px;
    width: 100%;
}

/* sezione testimonials */
.testimonial-col {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-card {
    background-color: #9792E4;
    height: 300px;
    margin-top: 50px;
    width: 90%;
    border-radius: 30px;
}


/* sezione benefits */

.benefits-col {
    background-color: #9792E4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits-card {
    background-color: white;
    margin-top: 50px;
    height: 300px;
    width: 90%;
    border-radius: 20px;
}


.about-col{display: flex;flex-wrap: wrap;justify-content: center;}

/* sezione get started */
 
.start-col{background-color: #9792E4;width: 100%;
height: 500px;}


footer{width: 100%;background-color: #333333;height: 300px;}