* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

* {
    border: 1px dotted red;
}


/* utils */
.mb20 {
    margin-bottom: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.border-radius-20 {
    border-radius: 20px;
}

.width {
    width: 80%;
}


header {
    min-height: 60px;
    background-color: #0084FD;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;

}

/* sezione demo */
.demo-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.demo-col {
    width: 100%;
    min-height: 500px;
    background-color: #B5DDFF;
    margin-top: 50px;
    border-radius: 20px;
}



/* sezione strategic planning con sfondo viola */

.planning-cont {
    background-color: #9792E4;
    height: 800px;
    width: 100%;
}

/* sezione testimonials */
.testimonial {
    background-color: white;

}

.testimonial-col {
    background-color: #9792E4;
    height: 500px;
    margin-top: 50px;
    width: 100%;
    border-radius: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* sezione benefits */

.benefits-cont {
    background-color: #9792E4;
  
}

.benefits-col {
    background-color: white;
    margin-top: 80px;
    height: 500px;
    width: 100%;
    border-radius: 20px;
}


.about-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* sezione get started */

.start-cont {
    background-color: #9792E4;
    width: 100%;
    height: 500px;
}


footer {
    width: 100%;
    background-color: #333333;
    height: 300px;
}